@import "variables";
@import "base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

nav {
  display: flex;
  background-color: $primary-color;
  border-bottom: 1px solid rgb(1 35 35 / 54%);

  ul {
    width: 90%;
    margin-inline: auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  a {
    padding: 1rem;
    display: block;
    text-transform: capitalize;
    color: #fff;
    transition: color 0.3s;
    position: relative;

    &.active {
      color: #ffb800;

      &::after {
        content: "";
        position: absolute;
        bottom: 15%;
        left: 50%;
        display: inline;
        width: 5px;
        height: 5px;
        background-color: #ffb800;
        border-radius: 50%;
      }
    }

    &:hover {
      color: #ffb800;

      &::after {
        content: "";
        position: absolute;
        bottom: 15%;
        left: 50%;
        display: inline;
        width: 5px;
        height: 5px;
        background-color: #ffb800;
        border-radius: 50%;
      }
    }
  }
}

header {
  background-color: $primary-color;
  padding-block: 60px;
  text-align: center;
  font-family: $cursive-font; // padding-block: 100px;

  div {
    max-width: 17.36rem;
    margin: auto;

    figure {
      width: 17.36rem;
      height: 17.36rem;
      border-radius: 50%;
      background-color: #c4c4c4;
      position: relative;

      .shape {
        width: 60px;
        height: 60px;
      }

      .shape.quarter {
        background-color: #ff6250;
        border-top-right-radius: 100%;
        position: absolute;
        right: 0;
      }

      .shape.trap {
        background-color: #fff;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        position: absolute;
        left: 0;
        bottom: 20px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        max-width: 100%;
      }
    }

    h1 {
      text-transform: uppercase;
      color: #ffb800;
      font-size: 2.25rem;
      margin-block-start: 0.5rem;
    }

    p {
      color: #fff;
      font-size: 1.5rem;
      text-transform: capitalize;
    }

    [class*="icon"] {
      font-size: 2rem;
      color: #fff;
    }
  }
}

/******************** About styles ********************/
#about {
  padding-block: $section-block-padding;

  article {
    margin-block-end: 1.25rem;
    max-width: 70ch;
    margin-inline: auto;
  }

  h3 {
    margin-block-end: 1.25rem;
  }

  .period {
    color: $gray;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .company {
    margin-block: 0.5rem;
    font-family: $cursive-font;
  }

  p {
  }
}
/******************** About styles end ********************/

/******************** Skills styles ********************/
#skills {
  background-color: $primary-color;
  padding-block: $section-block-padding;
  color: #fff;

  h2 {
    color: #fff;

    &::after,
    &::before {
      background-color: #fff;
    }
  }
}
/******************** Skills styles end ********************/

/******************** Project styles ********************/
#projects {
  color: $primary-color;
  padding-block: $section-block-padding;

  h2 {
    color: $primary-color;

    &::after,
    &::before {
      background-color: $primary-color;
    }
  }

  article {
    margin-block-end: 2rem;
  }

  figure {
    height: 230px;
    background-color: gray;
    margin-block-end: 1rem;
    border-radius: 6px;
  }
}
/******************** Project styles end ********************/

footer {
  background-color: $primary-color;
  color: #fff;
  padding-block: 1.5rem;
  text-align: center;
}
// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

@media (min-width: 900px) {
  nav {
    ul {
      gap: 1.5rem;
    }
  }

  header {
    padding-block: 85px;
  }

  #projects {
    figure {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        background-color: $primary-color;
        transform: rotate(-5deg);
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: inherit;
      }
    }

    article {
      display: grid;
      grid-template-columns: 40% 60%;
      column-gap: 2rem;
      align-items: center;

      &:nth-of-type(even) {
        grid-template-columns: 60% 40%;

        figure {
          order: 1;
        }
      }
    }
  }
}
